{% extends "base.html.twig" %}

{% block title %}
	{{parent()}}
	{% if type == "create2" %}
		Créer une liste
	{% else %}
		Modifier la liste
		{{ skill.name }}
	{% endif %}
{% endblock %}

{% block body %}
	<h1>
		{% if type == "create2" %}
			Créer une liste
		{% else %}
			Modifier la liste
			{{ skill.name }}
		{% endif %}
	</h1>
	{{form_start(form)}}
	{{form_row(form.name)}}
	{{form_row(form.image)}}
	{{form_rest(form)}}
	{% if type == "create2" %}
		<input type="submit" value="Créer" class="btn btn-success">
	{% else %}
		<input type="submit" value="Modifier" class="btn btn-warning">
	{% endif %}
	{{form_end(form)}}
{% endblock %}